<div id="front-page">
    <section>
        <div>
            <h1 class="mb-5">Are you a borker?</h1>
            <div class="options row my-2">
                <div class="col-4"><button routerLink="/signUp">Register</button></div>
                <div class="col">
                    <h2 class="text-center">OR</h2>
                </div>
                <div class="col-4"><button routerLink="/login">Sign In</button></div>
            </div>
        </div>
    </section>
    <hr>
    <section class="my-4">
        <h1 class="mb-3">Looking for your perfect PG?</h1>
        <div class="options d-flex justify-content-center my-4">
            <button routerLink="/home">Login as a guest</button>
        </div>
    </section>
</div>